{% extends 'layouts/base.html.twig' %}
{% block title %}login
{% endblock %}
{% block stylesheets %}<link rel="stylesheet" href="{{ asset('assets/css/login.css') }}">
{% endblock %}

{% block body %}
	{% block div %}
		<div class="login-page">
			<div class="form" action="formProcess" method="POST">

				<form class="login-form">
					<label for="name">Prenom</label>
					<input id="name" type="text" placeholder="name"/>
					<label for="last_name">Nom</label>
					<input id="last_name" type="text" placeholder="last_name"/>
					<label for="email">email</label>
					<input id="email" type="text" placeholder="email"/>
					<label for="phone">numéro de télephone</label>
					<input id="phone" type="tel" placeholder="06xxxxxxxx"/>
					<label for="role">Titre</label>
					<input id="role" type="text" placeholder=""/>
					<label for="password">Mot de passe</label>
					<input id="password" type="password" placeholder="password"/>
					<input class="button" type="submit" value="Enregistrer">

				</form>
			</div>

		</div>

	{% endblock %}
	{% block javascripts %}{% endblock %}
{% endblock %}
